*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    outline: none;
}


@font-face {
    font-family: 'core sana c';
    src: url(../fonts/Urbanist-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Causten';
    src: url(../fonts/Causten-Medium.otf);
}



html,body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 108px;
    border-bottom: 1px solid #BEBCBD;
}
header section.wrapper {
    width: 90%;
    margin:  24px auto;
    display: flex;
    justify-content: space-between;
}
header section.wrapper div.logo {

}
header section.wrapper div.menu_bar {

}
header section.wrapper div.menu_bar ul{
    display: flex;
    margin-top: 12px;
}
header section.wrapper div.menu_bar ul li {
    margin-right: 40px;
    font-family: 'Causten';
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    text-align: left;
    color: #807D7E;
    
}
header section.wrapper div.menu_bar ul li:hover{
    color: #3C4242;
}
header section.wrapper div.menu_bar ul li:last-child {
    margin-right: 0;
}
header section.wrapper div.search_bar {
    background: #F6F6F6;
    width: 267px;
    height: 28px;
    padding: 12px 20px;
    gap: 12px;
    border-radius: 8px;
    position: relative;
}
header section.wrapper div.search_bar svg {
    

}
header section.wrapper div.search_bar input {
    color: #807D7E;
    background: #F6F6F6;
    margin-left: 12px;
    position: absolute;
    width: 200px;
}
header section.wrapper div.search_bar input:hover {
    color: #3C4242;
}
header section.wrapper div.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px;
    
}
header section.wrapper div.container div.icon svg {
    width: 20px;
    padding: 12px;  
    margin-left: 12px;
    background-color: #F6F6F6; 
    display: flex;
    justify-content: center; 
    align-items: center;
}
#spotlight {
    width: 100%;
    display: flex;
    position: relative;
}

#spotlight div.left {
    width: 50%;
    display: flex;
    position: relative;
}
#spotlight div.left .slider {
    width: 100px;
    height: 500px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
}
  
#spotlight div.left .slides {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
 }
  
#spotlight div.left .slides img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin: 16px 0;
}
  
#spotlight div.left  .controls {
    position: absolute;
    bottom: 245px;
    left: 7%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}
  
#spotlight div.left  button {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px 0;
    cursor: pointer;
    outline: none;
}
  
#spotlight div.left  button:hover {
    background: #444;
}

#spotlight div.left ul.right {
    width: 30%;
}
#spotlight div.left ul.right img {
    width: 520px;
    height: 785px;
}

#spotlight div.left div.right {
    width: 30%;
}
#spotlight div.left div#div#poduct-details div{
    
}
#spotlight div.left div.right-p {
    position: absolute;
    left: 718px;
    top: 29px
}
#spotlight div.left div.right-p div.tag a {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: #807D7E;
}
#spotlight div.left div#poduct-details div div.right img {
    width: 500px;
    margin-left: 32px;
    margin-top: 16px;
}
#spotlight div.right-side {
    margin-top: 24px;
    width: 50%;
    padding-top: 100px;
    margin-left: 100px;
}
#spotlight div.left div#poduct-details div div.right-side div.tag a {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: #0d090b;
}
#spotlight div.left div.right-p h1 {
    margin-top: 40px;
    font-family: 'core sana c';
    font-size: 34px;
    font-weight: 600;
    line-height: 47.6px;
    letter-spacing: 0.02em;
    color: #3C4242;
    width: 450px;
    height: 88px;
}
#spotlight div.right-side div.icons {
    display: flex;
    align-items: left;
    margin-top: 40px;
    width: 376px;
}
#spotlight div.right-side div.icons svg:first-child {
    margin-right: 42px;
}
#spotlight div.right-side div.icons p {
    font-family:'Causten';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: #807D7E;
    margin-left: 10px;
}
#spotlight div.right-side div.size {
    margin-top: 40px;
}
#spotlight div.right-side div.size li {
    display: flex;
}
#spotlight div.right-side div.size li p {
    margin-right: 24px;
    color: #807D7E;
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
}
#spotlight div.right-side div.size li p:last-child {
    margin-right: 0;
}
#spotlight div.right-side div.size li p:hover {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    color: #3F4646;
}
#spotlight div.right-side div.size li.sizeof {
    margin-right: 20px;
    margin-top: 24px;
} 
#spotlight div.right-side div.size li.sizeof a:hover {
    background: #3C4242;
    color: #FFFFFF;
}

#spotlight div.right-side div.size li.sizeof a {
    text-align: center;
    vertical-align: middle;
    padding: 19px;
    border-radius: 12px;
    margin-right: 20px;
    border: 1.5px solid #BEBCBD;
    font-family: 'Causten';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #3C4242;
}
#spotlight div.right-side div.size ul.bottom {
    margin-top: 40px;
}
#spotlight div.right-side div.size ul.bottom li {
    width: 156px;
    height: 30px;
    gap: 20px;
    margin-bottom: 24px;
}
#spotlight div.right-side div.size ul.bottom li p {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    color: #3F4646;
}
#spotlight div.right-side div.size ul.bottom li svg:hover {
    border: 1px solid #3F4646;
    border-radius: 50%;
}
#spotlight div.right-side div.button {
    display: flex;
    width: 150%;
    border-bottom: 1px solid #BEBCBD;
}
#spotlight div.right-side div.button button:first-child {
    display: flex;
    width: 199px;
    height: 46px;
    padding: 12px 40px;
    gap: 12px;
    border-radius: 8px;
    background: #8A33FD;
    margin-right: 24px;
}
#spotlight div.right-side div.button button p {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    color: #FFFFFF;
}
#spotlight div.right-side div.button button:nth-child(2) {
    width: 138px;
    height: 46px;
    left: 224px;
    padding: 12px 40px ;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #3C4242;
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    margin-bottom: 40px;
} 
#spotlight div.right-side div.others {
    width: 600px;
    margin-top: 40px;
}
#spotlight div.right-side div.others ul {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2,50%);
}
#spotlight div.right-side div.others ul li {
    display: flex;
    margin: 16px;
}
#spotlight div.right-side div.others ul li svg {
    background: #F6F6F6;
    padding: 7px;
    border-radius: 50%;
    margin-right: 5px;
}


#description {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
}
#description div.left {
    width: 50%;
}
#description div.left div.head {
    display: flex;
    margin-bottom: 32px;
}
#description div.left div.head h2 {
    font-family: 'core sana c';
    font-size: 28px;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    color: #3C4242;
    margin-left: 16px;
}
#description div.left div.bottum ul.heading {
    display: flex;
    margin-bottom: 24px;
}
#description div.left div.bottum ul.heading li {
    display: flex;
    margin-right: 24px;
}
#description div.left div.bottum ul.heading li svg {
    background-color: #8A33FD;
    padding: 5px;
    border-radius: 25%;
    margin-left: 7px;
}
#description div.left div.bottum ul.heading li.last svg {
    background-color: #3C4242;
    padding: 0%;
}
#description div.left div.bottum ul.heading li p {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #807D7E;
    padding-bottom: 24px;
}
#description div.left div.bottum ul.heading li p:hover {
    border-bottom: 1px solid #000000 ;
    color: #000000;
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
}
#description div.left div.bottum a p {
    font-family: 'Causten';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #807D7E;
    width: 610px;
    height: 75px;
}

.styled-table {
    width: 80%;
    background: #F6F6F6;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
}

.row {
    display: flex;
    border-bottom: 1px solid #e6e6e6;
}

.row:last-child {
    border-bottom: none;
}

.cell {
    flex: 1;
    padding: 16px 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    height: 105px;
}

.label {
    font-family: 'Causten';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;  
    color: #807D7E;
    margin-bottom: 16px;
}

.value {
    font-family: 'Causten';
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #3C4242;
}

.cell:not(:last-child) {
    border-right: 1px solid #BEBCBD;
}

#products {
    width: 90%;
    margin: 0 auto;
} 
#products div.head {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}
#products div.head p {
    font-family: 'core sana c';
    font-size: 28px;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    color: #3C4242;
}

#products ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
#products ul li {
    position: relative;
}
#products ul li img {
    position: relative;    
}
#products ul li svg {
    padding: 10px;
    position: absolute;
    right: 30px;
    top: 20px;
    border-radius: 50%;
    background-color: #e6e6e6;
}
#products ul li svg:hover {
    background-color: rgb(218, 89, 111);
}
#products ul li div.np {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 32px;
}
#products ul li div.np div.left {
    
}
#products ul li div.np div.left h4 {
    font-family: 'Causten';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: #3C4242;
    margin-bottom: 16px;
}
#products ul li div.np div.left p {
    font-family: 'Causten';
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #807D7E;
    margin-bottom: 32px;
}
#products ul li div.np div.right {
    position: relative;
}
#products ul li div.np div.right p {
    position: absolute;
    top: 15px;
    right: 3px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #F6F6F6;
    font-family: 'Causten';
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
}

#About {
    width: 100%;
    background: #3C4242;
    height: 850px;
}

#About section.wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}
#About section.wrapper ul.need {
    display: flex;
    
}
#About section.wrapper ul.need li {
    width: 15%;
    margin-right: 5%;
}
#About section.wrapper ul.need li:last-child {
    width: auto;
    margin-right: 0;
}
#About section.wrapper ul.need li h3 {
    font-family: 'Causten';
    font-size: 28.58px;
    font-weight: 700;
    line-height: 61.99px;
    color: #F6F6F6;
}
#About section.wrapper ul.need li a {
    display: grid;
    color: #fff;
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 500;
    line-height: 39.04px;
    color: #F6F6F6;
}
#About section.wrapper ul.app_link {
    display: flex;
    border-bottom: 1px solid #BEBCBD;
}
#About section.wrapper ul.app_link li {
    margin: 100px 0;
    margin-right: 39%;
}
#About section.wrapper ul.app_link li:last-child {
    margin-right: 0;
    margin-top: 16px;
}
#About section.wrapper ul.app_link li a {
    border-radius: 10.68px;
    background: #F6F6F6;
    padding: 15px 15px;
    margin-right: 16px;
}
#About section.wrapper ul.app_link li a:hover:first-child {
    background-color: rgb(25, 77, 173);
} 
#About section.wrapper ul.app_link li a:hover:nth-child(2) {
    background-image: linear-gradient(to right, #C13584,#405DE6);
}
#About section.wrapper ul.app_link li a:hover:nth-child(3) {
    background-color: #1DA1F2;
}
#About section.wrapper ul.app_link li a:hover:last-child {
    background-color: #007bff;
}
#About section.wrapper ul.app_link li.store h3 {
    font-family: 'Causten';
    font-size: 28.58px;
    font-weight: 700;
    line-height: 61.99px;
    color: #F6F6F6;
}
#About section.wrapper ul.app_link li.store ul.app {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
#About section.wrapper ul.app_link li.store ul.app li {
    margin: 0;
    width: 153.76px;
    height: 51.24px;
    padding: 0;
    background: #404040;
    display: flex;
    margin-right: 16px ;
}
#About section.wrapper ul.app_link li.store ul.app li a{
    background: transparent;
    width: 10px;
}
#About section.wrapper ul.app_link li.store ul.app li div.type {
    padding-top: 10px;
}
#About section.wrapper ul.app_link li.store ul.app li div.type p {
    font-family: 'Causten';
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #FFFFFF;
}
#About section.wrapper ul.app_link li.store ul.app li div.type h4 {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #FFFFFF;
}

#About section.wrapper div.popular {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BEBCBD;
}
#About section.wrapper div.popular h2 {
    font-family: 'Causten';
    font-size: 28.58px;
    font-weight: 700;
    line-height: 57.16px;
    color: #F6F6F6;
}
#About section.wrapper div.popular select {
    height: 16px;
    background: #3C4242;
}
#About section.wrapper div.popular select option {
    color: #F6F6F6;
}
#About section.wrapper h3 {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    margin: 24px auto;
    text-align: center;
}

@media all and (max-width: 1200px) {
    #products {
        width: 98%;
        margin: 0 auto;
    }
    header section.wrapper div.menu_bar ul {
        display: none;
    }
    #spotlight div.left .controls {
        left: 9%;
    }
}

@media all and (max-width: 980px) {
    #spotlight {
        display: grid;
        align-items: center;
        text-align: center;
    }
    #spotlight div.left div.right-p {
        left: 575px;
    }
    #spotlight div.left div.right-p h1 {
        font-size: 48px;
        line-height: 72.6px;
        width: 440px;
    }
    #spotlight div.right-side {
        padding-top: 0;
    }
    #description {
        display: grid;
        align-items: center;
        text-align: center;
    }
    #description div.left div.bottum a p {
        text-align: left;
        margin-bottom: 40px;
    }
    .styled-table {
        margin-left: 0;
        margin-bottom: 40px;
    }
    #products {
        width: 95%;
    }
    #products ul li:last-child {
        display: none;
    }
    #About {
        padding-bottom: 266px;
    }
    #About section.wrapper ul.need {
        display: grid;
        grid-template-columns:repeat(2,300px);
        justify-content: space-between;
    }
    #About section.wrapper ul.need li{
        width: 200px;
    }
    #About section.wrapper ul.app_link li {
        margin-right: 15%;
    }
    #spotlight div.left .controls {
        left: 11%;
    }

    #spotlight div.left .controls {
        bottom: 194px;
    }
}
@media all and (max-width: 760px){
    #spotlight div.left div.right-p {
        left: 105px;
        top: 689px;
    }
    #spotlight div.left div.right-p h1 {
        width: 549px;
    }
    #spotlight div.right-side {
        padding-top: 100px; 
    }
    #products ul li:nth-child(3) {
        display: none;
    }
    #spotlight div.left .controls {
        bottom: 191px;
        left: 14%;
    }
    #products ul {
        justify-content: space-around;
    }
    #About section.wrapper ul.app_link li {
        margin-right: 2%;
    }
    #products div.head {
        margin-left: 24px;
    }
}
@media all and (max-width: 390px){
    header section.wrapper div.search_bar input {
        display: none;
    }
    header section.wrapper div.container {
        display: none;
    }
    header section.wrapper div.search_bar {
        width: 20px;
    }
    #spotlight div.left .slider {
        display: none;
    }
    #spotlight div.left div#poduct-details div div.right img {
        width: 330px;
    }
    #spotlight div.left div.right-p {
        left: -8px;
        top: 463px;
    }
    #spotlight div.left div.right-p h1 {
        margin-top: 12px;
        font-size: 30px;
        line-height: 39.6px;
        width: 420px;
    }
    #spotlight div.right-side {
        padding-top: 49px;
        margin-left: 41px;
    }
    #spotlight div.right-side div.icons {
        width: 300px;
    }
    #spotlight div.right-side div.icons p {
        width: 154px;
    }
    #spotlight div.right-side div.button button:first-child {
        width: 172px;
        padding: 12px 28px;
    }
    #spotlight div.right-side div.others ul {
        width: 59%;
    }
    #description div.left div.bottum ul.heading {
        display: grid;
    }
    .row {
        display: none;
    }
    #products ul {
        display: grid;
    }
    #About {
        padding-top: 40px;
    }
    #About section.wrapper ul.need {
        display: none;
    }
    #About section.wrapper div.popular h2 {
        font-size: 23.58px;
        line-height: 60.16px;
    }
    #About section.wrapper ul.app_link {
        display: grid;
        position: relative;
    }
    #About section.wrapper ul.app_link li {
        padding-bottom: 60px;
    }
    #About section.wrapper ul.app_link li.store h3 {
        position: absolute;
        top: 40px;
        left: 0px;
    }
    #About section.wrapper ul.app_link li:last-child {
        padding-bottom: 0px;
    }
}


























