*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    text-decoration: none;
    outline: none;
}


@font-face {
    font-family: 'core sana c';
    src: url(../fonts/Urbanist-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Causten';
    src: url(../fonts/Causten-Medium.otf);
}



html,body{
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 108px;
    
}
header section.wrapper {
    width: 90%;
    margin:  24px auto;
    display: flex;
    justify-content: space-between;
}
header section.wrapper div.logo {

}
header section.wrapper div.menu_bar {

}
header section.wrapper div.menu_bar ul{
    display: flex;
    margin-top: 12px;
}
header section.wrapper ul#menulist {
    display: none;
}
header section.wrapper div.menu_bar ul li {
    margin-right: 40px;
    font-family: 'Causten';
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    text-align: left;
    color: #807D7E;
    
}
header section.wrapper div.menu_bar ul li:hover{
    color: #3C4242;
}
header section.wrapper div.menu_bar ul li:last-child {
    margin-right: 0;
}
header section.wrapper div.search_bar {
    background: #F6F6F6;
    width: 267px;
    height: 28px;
    padding: 12px 20px;
    gap: 12px;
    border-radius: 8px;
    position: relative;
}
header section.wrapper div.search_bar svg {
    

}
header section.wrapper div.search_bar input {
    color: #807D7E;
    background: #F6F6F6;
    margin-left: 12px;
    position: absolute;
    width: 200px;
}
header section.wrapper div.search_bar input:hover {
    color: #3C4242;
}
header section.wrapper div.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px;
    
}
header section.wrapper div.container div.icon svg {
    width: 20px;
    padding: 12px;  
    margin-left: 12px;
    background-color: #F6F6F6; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

#spotlight {
    width: 100%;
    display: flex;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  .mySlides {
    display: none;
  }
 
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
#spotlight section.wrapper div.type {
    position: absolute;
    padding-top: 300px;
    margin-left: 193px;
}
#spotlight section.wrapper div.type p {
    font-family: 'core sana c';
    font-size: 32px;
    font-weight: 500;
    line-height: 37.77px;
    letter-spacing: 0.15738007426261902px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
#spotlight section.wrapper div.type p a{
    color: #FFFFFF;
    font-weight: 500;
}
#spotlight section.wrapper div.type h1{
    margin: 24px 0;
    width: 439px;
    height: 188px;
    font-family: 'core sana c';
    font-size: 78px;
    font-weight: 800;
    line-height: 93.62px;
    letter-spacing: 0.31476014852523804px;
    color: #FFFFFF;
} 
#spotlight section.wrapper div.button {
    background: #FFFFFF;
    width: 250px;
    padding: 16px 72px;
    gap: 12px;
    border-radius: 8px ;
    opacity: 0px;
    text-align: center;
}
#spotlight section.wrapper div.button a {
    font-family: 'Causten';
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: center;
    color: #3C4242;
}
#spotlight section.wrapper div.bg_image {
    width: 100%;
    justify-content: end;
    object-fit: cover
}
#spotlight section.wrapper div.bg_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


#explore  {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 90%;
    margin: 130px auto;
  }

#explore div.left img {
    width: 600px;
    height: 100%;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
 
#explore div.left {
    display: flex;
    align-items: flex-start;
    color: #fff;    
}
#explore div.left div.card-content {
    position: absolute;
    margin-left: 36px;
    margin-top: 50px;
}


#explore div.left p {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 800;
    line-height: 30.07px;
    letter-spacing: 0.2505565583705902px;
    color: #FFFFFF;
}
#explore div.left h2 {
    width: 234px;
    font-family: 'core sana c';
    font-size: 34px;
    font-weight: 800;
    line-height: 45.1px;
}
#explore div.left a {
    width: 136px;
    height: 31px;
    font-family: 'core sana c';
    font-size: 20px;
    font-weight: 800;
    line-height: 30.13px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;

}

#explore div.right img {
    width: 600px;
    height: 100%;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#explore div.right {
    display: flex;
    align-items: flex-start;
    color: #fff;
}

#explore div.right div.card-content {
    margin-left: 36px;
    margin-top: 50px;
    position: absolute;
}


#explore div.right p {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 800;
    line-height: 30.07px;
    letter-spacing: 0.2505565583705902px;
    color: #FFFFFF;
}
#explore div.right h2 {
    width: 234px;
    font-family: 'core sana c';
    font-size: 34px;
    font-weight: 800;
    line-height: 45.1px;
}
#explore div.right a {
    width: 136px;
    height: 31px;
    font-family: 'core sana c';
    font-size: 20px;
    font-weight: 800;
    line-height: 30.13px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;

}

.new-arrival {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  .new-arrival div.head {
    display: flex;
    margin-bottom: 40px;
  }
  .new-arrival div.head h2 {
    font-family: 'core sana c';
    font-size: 34px;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    margin-left: 16px;
  }
  .carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .carousel-items {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .item {
    flex: 0 0 200px;
    text-align: center;
    margin: 0 10px;
  }
  
  .item img {
    width: 300px;
   height: 300px;
    border-radius: 8px;
  }
  
  .item p {
    margin-top: 10px;
    font-weight: bold;
  }
  
  button {
    
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }

#we {
    width: 100%;
    margin: 70px;
}
#we section.wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
}
#we section.wrapper section.left {
    position: relative;
    align-items: center;
}
#we section.wrapper section.left section.type {
    position: absolute;
    top: 100px;
    margin: 100px 30px;
}
#we section.wrapper section.left section.type h3 {
    font-family: 'core sana c';
    font-size: 34px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0.20758114755153656px;
    color: #FFFFFF;
}
#we section.wrapper section.left section.type p {
    font-family: 'Causten';
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
#we section.wrapper section.left section.type button {
    width:168px;
    height: 46px;
    top: 236px;
    padding: 12px 44px;
    border-radius: 8px;
}

#men {
    width: 90%;
    margin: 0 auto;
}
#men div.head {
    display: flex;
    gap: 16px;
    margin-bottom: 44px;
}
#men div.head h2 {
    font-family: 'core sana c';
    font-size: 34px;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    color: #3C4242;
}
#men  ul {
    display: grid;
    grid-template-columns:repeat(4,270px);
    justify-content: space-between;
}
#men  ul li div.h5 {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}
#men  ul li div.h5 h6 {
    font-family: 'Causten';
    font-size: 17.88px;
    font-weight: 700;
    line-height: 27.93px;
    letter-spacing: -0.04em;
}
#men  ul li p {
    font-family: 'Causten';
    font-size: 13.41px;
    font-weight: 500;
    line-height: 27.93px;
    letter-spacing: -0.04em;
    margin-bottom: 32px;
}
#Women {
    width: 90%;
    margin: 0 auto;
}
#Women div.head {
    display: flex;
    gap: 16px;
    margin-bottom: 44px;
}
#Women div.head h2 {
    font-family: 'core sana c';
    font-size: 34px;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    color: #3C4242;
}
#Women ul {
    display: flex;
    justify-content: space-between;
}
#Women  ul li div.h5 {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}
#Women  ul li div.h5 h6 {
    font-family: 'Causten';
    font-size: 17.88px;
    font-weight: 700;
    line-height: 27.93px;
    letter-spacing: -0.04em;
}
#Women  ul li p {
    font-family: 'Causten';
    font-size: 13.41px;
    font-weight: 500;
    line-height: 27.93px;
    letter-spacing: -0.04em;
    margin-bottom: 32px;
}

#brand {
    width: 90%;
    margin: 0 auto;
    background: #3C4242;
    height: auto;
    border-radius: 12px;
    border: 1.07px;
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 40px;
}
#brand  h2 {
    font-family: 'core sana c';
    font-size: 50px;
    font-weight: 800;
    line-height: 49.1px;
    color: #FFFFFF;
    padding-top: 34px;
}
#brand p {
    font-family: 'Causten';
    font-size: 22px;
    font-weight: 400;
    line-height: 26.4px;
    margin-top:  32px;
    margin-bottom: 60px;
    color: #FFFFFF;

}
#brand p a {
    font-family: 'Causten';
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    color: #FBD103;
}
#brand ul.brands{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#brand ul.brands li {
    width: 177.52px;
    height: 85.55px;
    border-radius: 12px;
    background: #FFFFFF;
}
#brand ul.brands li a {
    align-items: center;

}
#brand ul.brands li a img {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
}


#limelight {
    width: 90%;
    margin: 0 auto;
    position: relative;
}
#limelight div.head {
    display: flex;
    gap: 16px;
}
#limelight div.head h2 {
    font-family: 'core sana c';
    font-size: 34px;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}
#limelight ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
#limelight ul li {
    position: relative;
}
#limelight ul li img {
    position: relative;    
}
#limelight ul li svg {
    padding: 10px;
    position: absolute;
    right: 30px;
    top: 20px;
    border-radius: 50%;
    background-color: #e6e6e6;
}
#limelight ul li svg:hover {
    background-color: rgb(218, 89, 111);
}
#limelight ul li div.np {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 32px;
}
#limelight ul li div.np div.left h4 {
    font-family: Causten;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: #3C4242;
    margin-bottom: 16px;
}
#limelight ul li div.np div.left p {
    font-family: Causten;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #807D7E;
    margin-bottom: 32px;
}
#limelight ul li div.np div.right {
    position: relative;
}
#limelight ul li div.np div.right p {
    position: absolute;
    top: 15px;
    right: 3px;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #F6F6F6;
    font-family: Causten;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
}

#feedback {
    width: 90%;
    margin: 0 auto;
}
#feedback div.head {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}
#feedback div.head h2 {
    font-family: 'core sana c';
    font-size: 34px;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.02em;
    color: #3C4242;
}
#feedback ul{
    display: flex;
    justify-content: space-between;
}
#feedback ul li {
    width: 28%;
    padding: 23.19px ;
    gap: 20px;
    border-radius: 10px;
    border: 1.8px solid #BEBCBD;
}
#feedback ul li div.top {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
#feedback ul li div.bottom {
    width: 90%;
    margin: 0 auto;
}
#feedback ul li div.bottom  h5 {
    font-family: 'core sana c';
    font-size: 22px;
    font-weight: 500;
    line-height: 21.6px;
    letter-spacing: 0.02em;
    color: #3C4242;
    margin-bottom: 32px;
}
#feedback ul li div.bottom  p {
    font-family: 'Causten';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0.02em;
    color: #807D7E;
    margin-bottom: 24px;
}
#feedback div.dot {
    margin: 24px 0 50px;
}
#feedback div.dot svg {
    width: 100%;
    margin: 0 auto;
}


#About {
    width: 100%;
    background: #3C4242;
    height: auto;
}

#About section.wrapper {
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}
#About section.wrapper ul.need {
    display: flex;
    
}
#About section.wrapper ul.need li {
    width: 15%;
    margin-right: 5%;
}
#About section.wrapper ul.need li:last-child {
    width: auto;
    margin-right: 0;
}
#About section.wrapper ul.need li h3 {
    font-family: 'Causten';
    font-size: 28.58px;
    font-weight: 700;
    line-height: 61.99px;
    color: #F6F6F6;
}
#About section.wrapper ul.need li a {
    display: grid;
    color: #fff;
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 500;
    line-height: 39.04px;
    color: #F6F6F6;
}
#About section.wrapper ul.app_link {
    display: flex;
    border-bottom: 1px solid #BEBCBD;
}
#About section.wrapper ul.app_link li {
    margin: 100px 0;
    margin-right: 39%;
}
#About section.wrapper ul.app_link li:last-child {
    margin-right: 0;
    margin-top: 16px;
}
#About section.wrapper ul.app_link li a {
    border-radius: 10.68px;
    background: #F6F6F6;
    padding: 15px 15px;
    margin-right: 16px;
}
#About section.wrapper ul.app_link li a:hover:first-child {
    background-color: rgb(25, 77, 173);
} 
#About section.wrapper ul.app_link li a:hover:nth-child(2) {
    background-image: linear-gradient(to right, #C13584,#405DE6);
}
#About section.wrapper ul.app_link li a:hover:nth-child(3) {
    background-color: #1DA1F2;
}
#About section.wrapper ul.app_link li a:hover:last-child {
    background-color: #007bff;
}
#About section.wrapper ul.app_link li.store h3 {
    font-family: 'Causten';
    font-size: 28.58px;
    font-weight: 700;
    line-height: 61.99px;
    color: #F6F6F6;
}
#About section.wrapper ul.app_link li.store ul.app {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
#About section.wrapper ul.app_link li.store ul.app li {
    margin: 0;
    width: 153.76px;
    height: 51.24px;
    padding: 0;
    background: #404040;
    display: flex;
    margin-right: 16px ;
}
#About section.wrapper ul.app_link li.store ul.app li a{
    background: transparent;
    width: 10px;
}
#About section.wrapper ul.app_link li.store ul.app li div.type {
    padding-top: 10px;
}
#About section.wrapper ul.app_link li.store ul.app li div.type p {
    font-family: 'Causten';
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    color: #FFFFFF;
}
#About section.wrapper ul.app_link li.store ul.app li div.type h4 {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #FFFFFF;
}

#About section.wrapper div.popular {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #BEBCBD;
}
#About section.wrapper div.popular h2 {
    font-family: 'Causten';
    font-size: 28.58px;
    font-weight: 700;
    line-height: 57.16px;
    color: #F6F6F6;
}
#About section.wrapper div.popular select {
    height: 16px;
    background: #3C4242;
}
#About section.wrapper div.popular select option {
    color: #F6F6F6;
}
#About section.wrapper h3 {
    font-family: 'Causten';
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    margin: 24px auto;
    text-align: center;
}
@media all and (max-width: 1200px) {
    header section.wrapper {
        width: 100%;
    }
    #spotlight section.wrapper div.type {
        position: absolute;
        padding-top: 195px;
        margin-left: 193px;
    }   
    #arraivals section.wrapper {
        width: 98%;
    }
    #men {
        width: 98%;
    }
    #Women {
        width: 98%;
    }
    #limelight {
        width: 98%
    }
    #feedback {
        width: 98%;
    }
    #About section.wrapper ul.app_link li {
        margin-right: 30%;
    }

}

@media all and (max-width: 980px) {
    header section.wrapper div.logo {
        margin-left: 70px;
    }
    header section.wrapper div.menu_bar ul {
        display: none;
    }
    #spotlight section.wrapper div.type {
        position: absolute;
        padding-top: 102px;
        margin-left: 193px;
    }
    #we{
        width: 100%;
        margin: 80px 0;
        align-items: center;
    }
    #we .wrapper{
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    #we .wrapper .left {
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    #we .wrapper .right {
        margin: 0 auto;
        width: 100%;
    }
    #we .wrapper img{
        width: 100%;
    }
    #we section.wrapper section.left section.type h3 {
        font-weight: 1000;
    }
    #we section.wrapper section.left section.type p {
        width: 70%;
        margin: 40px auto;
        font-weight: 600;
    }
    #we section.wrapper section.left section.type button {
        width: 268px;
        height: 92px;
        margin: 0 auto;
        border-radius: 16px;
        position: relative;
    }    
    #men ul#menul {
        grid-template-columns: repeat(3,300px);
    }
    #men ul#menul li{

    }
    #men ul#menul li:nth-child(7){
        display: none;
    }
    #men ul#menul li:last-child {
        display: none;
    }
    #Women  ul li:last-child {
        display: none;
    }
    #brand {
        width: 100%;
        height: 600px;
        position: relative;
    }
    #brand ul.brands {
        position: absolute;
        left: -9%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,00px);
        justify-content: space-evenly;
        
    }
    #brand ul.brands li {
        align-items: center;
        margin-bottom: 32px; 
        position: relative;   
    }
    #brand ul.brands li:last-child {
        position: absolute;
        left: 50%;
        bottom: -51%;
    }
    #limelight ul li:last-child {
        display: none;
    }
    #About {
        padding-bottom: 40px;
        background-color: #3C4242;
    }
    #About section.wrapper ul.need {
        display: grid;
        grid-template-columns:repeat(2,300px);
        justify-content: space-between;
    }
    #About section.wrapper ul.need li{
        width: 200px;
    }
    #About section.wrapper ul.app_link li {
        margin-right: 15%;
    }
}
@media all and (max-width: 760px) {
    #spotlight section.wrapper div.type {
        position: absolute;
        padding-top: 49px;
        margin-left: 41px;
    }

    #spotlight section.wrapper div.type p {
    font-size: 19px;
    line-height: 0;
    }
    #spotlight section.wrapper div.type h1 {
    margin: 15px 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 44.62px;
    width: 230px;
    }
    #spotlight section.wrapper div.button {
        width: 150px;
    }
    #explore {
        display: grid;
    }
    #men div.head {
        margin-left: 32px;
    }
    #men ul#menul {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: repeat(2,300px);
        justify-content: space-between;
    }
    #Women div.head {
        margin-left: 32px;
    }
    #Women ul {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2,300px);
    }
    #Women  ul li:last-child {
        display: inline;
    }
    #limelight div.head {
        margin-left: 32px;
    }
    #limelight ul {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2,300px);
    }
    #limelight ul li:last-child {
        display: inline;
    }
    #feedback ul{
        width: 90%;
        margin: 0 auto;
    }
    #feedback ul li{
        width: 40%;
    }
    #feedback ul li:last-child {
        display: none;
    }
    #feedback ul li div.bottom p {
        font-size: 16px;
    }
    #About section.wrapper ul.app_link li {
        margin: 0;
    }
    #About section.wrapper ul.app_link li:last-child {
        margin-bottom: 20px;
    }
}
@media all and (max-width: 390px) {
    header {
        height: 90px;  
    }
    header section.wrapper {
        position: relative;
        width: 90%;
        margin: 16px auto;
    }
    header section.wrapper div.logo {
        margin: 0;
    }
    header section.wrapper ul#menulist {
        display: block;
    }
    header section.wrapper div.search_bar {
        width: auto;
    }
    header section.wrapper div.search_bar input {
        display: none;
    }
    header section.wrapper div.container {
        display: none;
    }
    #spotlight{
        position: relative;
    }
    #spotlight section.wrapper{
        display: grid;
        position: relative;
    }
    #spotlight section.wrapper div.type  {
        position: absolute;
        top: 175px;
        text-align: center;
        margin-left: 12%;
        align-items: center;
    }
    #spotlight section.wrapper div.type p a{
        color: #3C4242;
        display: none;
    }
    #spotlight section.wrapper div.type h1 {
        color: #3C4242;
        margin-top: 5px;
        font-size: 30px;
        font-weight: 900;
        line-height: 36.62px;
        width: 100%;
        height: 38px;
        background: linear-gradient(rgb(223, 153, 23),rgb(24, 125, 184));
        border-radius: 16px;
        padding: 5px;
    }
    #spotlight section.wrapper div.button {
        background: #c9696917;
        padding: 10px 20px;
        margin-left: 50px;  
    }
    #spotlight section.wrapper div.button:hover{

    }

    #spotlight section.wrapper div.button a{
        font-size: 20px;
        font-weight: 700;
        line-height: 23.8px;
    }
    #explore {
        width: 100%;
        padding-top: 32px;
        margin-bottom: 50px;
    }
    #explore div.left {
        width: 100%;
    }
    #explore div.left img {
        width: 95%;
        margin: 0 auto;
    }
    #explore div.right {
        width: 100%;
    }
    #explore div.right img {
        width: 95%;
        margin: 0 auto;
    }
    #explore div.right div.card-content {
        margin-top: 20px;
    }
    #we section.wrapper section.left section.type {
        top: -88px;
    }
    #we section.wrapper section.left section.type h3 {
        width: 102%;
    }
    #we section.wrapper section.left section.type p {
        font-size: 16px;
        width: 104%;
        margin: 0;
    }
    #we section.wrapper section.left section.type button {
        font-size: 16px;
        top: 50px;
        width: 163px;
        height: 58px;
    }
    #men ul#menul {
        width: 90%;
        overflow: scroll;
        margin-bottom: 40px;
    }
    #Women ul {
        width: 90%;
        margin: 0 auto;
        overflow: scroll;
        margin-bottom: 40px;
    }
    #brand {
        height: 763px;
    }
    #brand ul.brands {
        left: 0;
        grid-template-columns: none;
    }
    #brand ul.brands li:last-child {
        left: 28%;
        bottom: -25%;
    }
    #feedback ul {
        display: grid;
        justify-content: none;
    }
    #feedback ul li {
        width: 80%;
        margin: 0 auto;
    }
    #limelight ul {
        width: 90%;
        margin: 0 auto;
        overflow: scroll;
        margin-bottom: 40px;
    }
    #About {
        padding-top: 40px;
    }
    #About section.wrapper ul.need {
        display: none;
    }
    #About section.wrapper div.popular h2 {
        font-size: 23.58px;
        line-height: 60.16px;
    }
    #About section.wrapper ul.app_link {
        display: grid;
        position: relative;
    }
    #About section.wrapper ul.app_link li {
        padding-bottom: 60px;
    }
    #About section.wrapper ul.app_link li.store h3 {
        position: absolute;
        top: 40px;
        left: 0px;
    }
    #About section.wrapper ul.app_link li:last-child {
        padding-bottom: 0px;
    }
}
@media all and (max-width: 350px) {

}














